body {background:lightblue}
pre,p {color:darkblue}  
table {
    width: 100%; 
    border-collapse: collapse; 
}
table td {
    padding: 0 10px; /* отступы */
}

table * {
    vertical-align: top;
}
table td {
    width: 400px;
}
table td:first-child {
    width: auto;
}