body {
    background-color:white;
    margin: auto;
    width: 800px;
    box-sizing: border-box;
    
}


#header{
    width: 100%;
    text-align: center;
    font-size: 30pt;
    color: red;
    margin: 0;
    box-sizing: border-box;
}

#content{
    width: 800px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
label {
    display: block;
}
div{
    border: 50px;
}

div.el{

    padding: 15px 20x;
    position: relative;
    margin-bottom: 15px;

}
